

	<div class="main-visual">
	</div>

	<%= link_to "ユーザ新規登録", new_user_registration_path %>
	<%= link_to "ログイン", new_user_session_path %>

	<%= link_to "管理者ログイン", new_admin_session_path %>
<%= link_to 'ゲストログイン（閲覧用）', user_homes_guest_sign_in_path, method: :post %>