/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

h4 {
  margin-top: 40px;

}
header {
	width: 100%;

}

.header-container {
	width: 1024px;
	margin: 0 auto;
	font-size: 16px;
}

.headline {
	font-size: 35px;
	color: #38C5D1;
	line-height: 70px;
	padding: 5px 0;
	text-decoration: none;
	display: inline;
}

.nav {
	height: 50px;
	background-color: #38C5D1;
}

.nav-list {
	font-size: 14px;
	height: 50px;
}

.nav-list a {
	color: white;
}

.nav-list-item {
	float: left;
	list-style: none;
	line-height: 50px;
	padding: 0 30px;
	text-decoration: none;
  color: white;
}

.nav-list-item i{
  font-size: 25px;
  line-height: 50px;
  color: white;
}

.main {
	width: 200px;
	margin: 20px 15px;
}

.d-flex {
	display: flex;
	justify-content: center; /* 追加 */
  	align-items: center; /* 追加 */
}


////////////////////////////////////////////////////////////////////////////////////////////////////////
.btn-default {
    background: #FF9FAD; //ボタンの背景色
    color: white; //ボタンのテキストの色
}

.btn-default:hover, .btn-default:focus,
.btn-default:active, .btn-default:active:focus, .btn-default:active:hover, .btn-default:active.focus,
.btn-default.active, .btn-default.active:focus, .btn-default.active:hover, .btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background: #FF7B8F; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
.btn-primary {
	background: #38C5D1; //ボタンの背景色
    color: white; //ボタンのテキストの色
    border: 0px;
    margin: 20px 0;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #1DA7BE; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}


.footer {
	height: 100px;
	background-color: #38C5D1;
  text-align: center;
  margin-top: 70px;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.btn-success {
  background: #C2C2C2; //ボタンの背景色
    color: white; //ボタンのテキストの色
    border: 0px;
    margin: 20px 0 0 40px;
}

.btn-success:hover, .btn-success:focus,
.btn-success:active, .btn-success:active:focus, .btn-success:active:hover, .btn-success:active.focus,
.btn-success.active, .btn-success.active:focus, .btn-success.active:hover, .btn-success.active.focus,
.open > .dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-success:hover,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success.focus,
.btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus {
    background: #A5A5A5; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////

.copy {
  display: inline-block;
  line-height: 100px;
  color: white;
}

.field {
  margin-top: 20px;
}