// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	whidth: 100%;
	height: 650px;
	background-image: image-url("top.jpg");
	background-size: cover;
	background-position: bottom;

}