// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a {
color:#ff0;
text-decoration:underline;
}

.main-visual {
	width: 100%;
	height: 500px;
	background-image: image-url("top.jpg");
	background-size: cover;
	background-position: bottom;
}

.border {
  width: 100%;
  height: 30px;
  background-color: #38C5D1;
}

.top-headline {
  color: white;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.main-contents {
  text-align: center;
  margin-bottom: 100px;
}

.contents-title {
  color: #1DA7BE;
  font-size: 35px;
  font-weight: bold;
  padding-top: 150px;
}

.border2 {
  width: 8%;
  margin: 20px auto;
  border-bottom: 5px solid #38C5D1;
  opacity: 0.5;
}

.contents-text{
  font-size: 25px;
  font-weight: bold;
  padding-top: 50px;
  line-height: 40px;
}

.section {
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
}

.section-title {
  color: #38C5D1;
  font-size: 25px;
  padding-top: 20px;
}

.section-text{
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  line-height: 40px;
}

.section-subtext{
  padding-top: 20px;
  line-height: 30px;
}


.section-image img {
  width: 350px;
  height: 350px;
  border: 4px solid #38C5D1;
  border-radius: 200px;
  float: left;
}

.text-box{
  float: left;
  text-align: left;
  padding-left: 40px;
  width: 60%;
}

.lets{
  width: 40%;
  margin: 0 auto;
  height: 100px;
  background-color: #FF7B8F;
  text-align: center;
  border-radius: 20px;
}

.lets-text a {
  font-size: 30px;
  color: white;
  line-height: 100px;
  font-weight: bold;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////
.top-button .btn-info {
  background-color: white; //ボタンの背景色
  color: #1DA7BE; //ボタンのテキストの色
  border: 2px solid  #1DA7BE;
  margin: 20px 0;
  width: 300px;
  height: 50px;
  line-height: 35px;
}

.btn-info:hover, .btn-info:focus,
.btn-info:active, .btn-info:active:focus, .btn-info:active:hover, .btn-info:active.focus,
.btn-info.active, .btn-info.active:focus, .btn-info.active:hover, .btn-info.active.focus,
.open > .dropdown-toggle.btn-info,
.open > .dropdown-toggle.btn-info:hover,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info.focus,
.btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus {
    background: whiteE; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #1DA7BE; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

////////////////////////////////////////////////////////////////////////////////////////////////////////

//.top-buttons {
//  margin-top: 20px;
//  text-align: center;
//}

//.top-button {
//  background-color: white;
//  border: 3px solid #38C5D1;
//  border-radius: 7px;
//  width: 220px;
//  height: 50px;
//  line-height: 45px;
//  margin: 30px 0;
//  text-decoration: none;
//  color: white;
//}