// Place all the styles related to the user/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-btn {
  background: white; //ボタンの背景色
  color: #1DA7BE; //ボタンのテキストの色
  width: 200px;
  height: 40px;
  border: 2px solid #38C5D1;
  margin: 3px;
}

.item-box {
	float: left;
	margin: 20px;
}

.item-name {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.item-image {
  margin-top: 5px;
}


.item-genre{
  margin-top: 5px;
}


.item-maker{
  margin-top: 5px;
}

.index-star {
  margin-top: 5px;
  float: left;
}

.average-score {
  font-weight: bold;
  font-size: 20px;
  float: right;
  padding-right: 10px;
  margin-top: 5px;
}


.show-item-name {
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  padding-left: 160px;
}

.show-item-image {
  margin-top: 10px;
  float: left;
}

.show-item-genre{
  margin-top: 10px;
  padding-left: 160px;
}


.show-item-maker{
  margin-top: 10px;
  padding-left: 160px;
}

.show-star {
  margin-top: 20px;
  float: left;
  padding-left: 10px;
}

.show-average-score {
  font-weight: bold;
  font-size: 20px;
  float: right;
  padding-right: 60px;
  margin-top: 20px;
}