// Place all the styles related to the user/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.information {
	height: 300px;
	margin-top: 10px;
  border-top: 6px solid #9CE2E8;
  border-bottom: 6px solid #9CE2E8;
}

.hello-user {
  padding: 40px 0px 0px 20px;
  font-size: 14px;
}

.hello-text {
  line-height: 35px;
}

.user-image {
  float: left;
  margin-right: 20px;
}

.information-contents{
  padding: 20px 0px 0px 20px;
  font-size: 14px;
  float: left;
}

.chart {
  margin: 20px auto;
}

