// Place all the styles related to the user/tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.count-set {
  float: left;
  text-align: center;
}

.count {
  font-size: 60px;
}

.count-label {
  font-size: 12px;
}

.tweet-text {
  font-size: 16px;
  background-color: #E7F1F9;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.comment-table {
  margin-top: 40px;
}
